@import "tailwindcss";
* {
  font-family: "poppins";
}
.active {
  border-bottom: 2px solid black;
  background-color: #ffbb00;
}
.category {
  background-color: orangered;
  color: white;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
