@import "tailwindcss";
* {
  font-family: "poppins";
}
.active {
  border-bottom: 2px solid black;
  background-color: #ffbb00;
}
.category {
  background-color: orangered;
  color: white;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
table,
tbody,
td,
tr,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}
